body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background: url('https://tse3.mm.bing.net/th?id=OIP.cKc9Mo4oOIsGiiKYBqWGEgEsCo&pid=Api') no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 
}


 

 
 


